:root{
--basic-size: 2rem;
}

html{
	font-family: Karla;
	font-size: 1.2rem;
	line-height: 1.4;
}

body{
	font-family: Karla;
}

hgroup{
	font-family: Martian Mono;
	padding: 3rem;
	margin-block-end: var(--basic-size);
}

main{
	padding-block-end: 4rem;
	border-block-start: solid black 0.2rem;
	counter-reset: section;
}

footer{
	padding:4rem;
	border-block-start: solid black 0.2rem ;
}

h1{
	font-size: 6rem;
	font-weight: 800;
	text-transform: uppercase;
	color: blue;
}

h2{
	font-size: 4rem;
	text-transform: uppercase;
}

section h2::before{
	counter-increment: section;
	content: counter(section);
	margin-inline-end: var(--basic-size);
}

nav {
	font-size: 1.2rem;
	background-color: rgb(218, 225, 252);
	color: rgb(131, 131, 130);
	block-size: 100vh;
	float: inline-start; /*working with grid in this situation would be better but  we didn't work on it in class yet so I wanted to work around that with foat and sticky*/
	position: sticky;
	inset-block-start: 0rem;
	margin-block-end: -4rem;
	padding: var(--basic-size);
	counter-reset: nav;
}

nav li::before{
	counter-increment: nav;
	content: counter(nav);
	display: inline-block;
	inline-size: 1.25rem
}

section{
	margin: var(--basic-size) 3rem 0rem 23rem;
	max-inline-size: 100ch;
}

section a{
	color: rgb(17, 132, 65);
	text-decoration: underline;
}

p{
	font-size: 1.25rem;
	em{
		font-style: italic;
		}
}

blockquote p{
	padding: 1rem;
	padding-left: var(--basic-size);
	font-family: Martian Mono;
	font-size: 1.5rem;
	color: rgb(129, 129, 241);
}

aside {
	padding: 1rem;
	padding-left: var(--basic-size);
	font-family: Martian Mono;
	line-height: 1.7;
	color: blue;
}

details{
	font-style: italic;
}

details p{
	font-size: 1rem;
}

summary{
	font-size: 1.5rem;
	}

strong{
	font-weight: 750;
}
